@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: "Shantell Sans", sans-serif;
}

.main-content {
	min-height: 65vh;
	background-image: linear-gradient(rgba(4, 11, 60, 0.581), rgba(54, 1, 71, 0.767)), url("./assets/pexels-min-an-694740.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.modal {
	font-size: 12.5px;
	border-radius: 10px;
	max-height: 90vh;
	overflow-y: auto;
}
.modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	padding: 5px;
}
.modal > .content {
	text-align: left;
	width: 100%;
	padding: 10px 5px;
}
.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}
.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.modal > .description {
	border-width: 20%;
	border-bottom: 1px solid gray;
	padding: 5px;
}
